:root {
  --bege: #E6E0D6;
  --marrom-escuro: #816D4F;
  --marrom-claro: #B29463;

  --bs-body-font-family: 'Barlow', sans-serif; 
}

body {
  font-family: var(--bs-body-font-family); 
  background-color: var(--bege);
  transition: background-color 0.3s, color 0.3s;
}

body, h1, h2, h3, h4, h5, h6, .btn, .navbar {
  font-family: 'Barlow', sans-serif !important;
}
[data-bs-theme="dark"] body {
  background-color: #212529;
  color: #fff;
}

[data-bs-theme="dark"] .banners-titulo {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
}

[data-bs-theme="dark"] .card-title {
  color: var(--marrom-claro);
}


input[type=checkbox] {
  border: 2px solid var(--marrom-claro);
  box-shadow: none;
}

input[type=checkbox]:checked,
input[type="checkbox"]:focus {
  background-color: var(--marrom-claro);
  border-color: var(--marrom-claro);
  box-shadow: none;
  outline: none;
}
.banners {
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.banners-titulo {
  background-color: var(--bege);
  --bs-bg-opacity: .7;
  padding: 2rem;
  width: 100%;
}

.banners-1 {
  background-image: url(./assets/banner-1.png);
}

.banner-2 {
  background-image: url(./assets/banner-2.png);
}

.banner-3 {
  background-image: url(./assets/banner-3.png);
}

.botao-padrao {
  background-color: var(--marrom-escuro);
  color: white;
  transition: 0.3s;
}

.botao-padrao:hover {
  background-color: var(--marrom-claro);
  color: white;
  transform: scale(1.05);
}

.card {
  transition: transform 0.3s;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.card-title {
  color: var(--marrom-escuro);
}